.wp-block-gutenberg-practice-01-test-02,
.wp-block-gutenberg-practice-01-test-03,
.wp-block-gutenberg-practice-01-test-04,
.wp-block-gutenberg-practice-01-test-05,
.wp-block-gutenberg-practice-01-test-06 {
	color: green;
	background: #cfc;
	border: 2px solid #9c9;
	padding: 20px;
}
