.wp-block-gutengerg-practice-test-02,
.wp-block-gutengerg-practice-test-03,
.wp-block-gutengerg-practice-test-04,
.wp-block-gutengerg-practice-test-05,
.wp-block-gutengerg-practice-test-06,
.wp-block-gutengerg-practice-test-07 {
	color: darkred;
	background: #fcc;
	border: 2px solid #c99;
	padding: 20px;
}
